<h4 class="icon solid fa-graduation-cap"> Education</h4>
<div class="row">
    {% for experience in education %}
    <div class="col-6 col-12-xsmall">
        <h5>{{ experience[0]["institution"] }}</h5>
        <em>{{ experience[0]["year_started"] }} {% if experience[0]["current"] %}- Present{% endif %}{% if experience[0]["year_ended"] %}- {{ experience[0]["year_ended"] }}{%endif%}</em>
        {{ experience[1] | safe }}
    </div>
    {% endfor %}
</div>