<h4 class="major">Volunteering Expeience</h4>
{% for experience in volunteering_experience %}
    <h4>{{ experience[0]["company"] }} | {{ experience[0]["role"] }}</h4>
    <!-- Metadata -->
    <strong><em>{% if experience[0]["month_started"] %} {{ experience[0]["month_started"] }} {%endif%} {% if experience[0]["year_started"] %} {{ experience[0]["year_started"] }} {%endif%} {% if experience[0]["current"] %}- Present {%else%} - {% endif %} {% if experience[0]["month_ended"] %} {{ experience[0]["month_ended"] }} {%endif%} {% if experience[0]["year_ended"] %} {{ experience[0]["year_ended"] }} {%endif%}</em></strong>
    <!-- Content -->
    <p>{{ experience[1] | safe}}</p>
{% endfor %}