<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projects</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            {% for project in projects %}
            <!-- Item -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ loop.index0 }}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    {% if project[0]["image"] %}
                    <img class="img-fluid" src="images/{{ project[0]['image'] }}" alt="{{ project[0]['title'] }}" style="width:332px; height:240px;"/>
                    {% else %}
                    <img class="img-fluid" src="images/portfolio/cabin.png" alt="{{ project[0]['title'] }}" />
                    {% endif %}
                </div>
            </div>
            <!-- End Item -->
            {% endfor %}
        </div>
    </div>
</section>

<!-- Portfolio Modals-->
<!-- Portfolio Modal-->
{% for project in projects %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal{{ loop.index0 }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - {{ project[0]["title"] }}-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal{{ loop.index0 }}Label">{{ project[0]["title"] }}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            {% if project[0]["image"] %}
                            <img class="img-fluid rounded mb-5" src="images/{{ project[0]['image'] }}" alt="{{ project[0]['title'] }}" />
                            {% else %}
                            <img class="img-fluid rounded mb-5" src="images/portfolio/cabin.png" alt="{{ project[0]['title'] }}" />
                            {% endif %}
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5 lead"> {{ project[1] | safe }} </p>
                            {% if project[0]["link"] %} 
                            <a class="btn btn-lg" href="{{ project[0]['link'] }}" style="background-color:#1abc9c;color:white;" target="_blank">
                                <i class="fas fa-globe fa-fw"></i>
                                Check out the project
                            </a>
                            <button class="btn btn-secondary btn-lg" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                            {% else %}
                            <button class="btn btn-primary btn-lg" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--End of portfolio section-->