#social-links {
    font-size: 1.1em;
  }
  
  .project-link {
    text-decoration: initial;
    color: #141414;
  }
  
  .project-link:hover {
    text-decoration: initial;
    color: #929292;
  }

  .image{
    float: left;
  }

  .image>img{
    max-width: 200px;
    max-height: 200px;
    margin-right:-2px;
  }

  .project-text{
    text-align: center;
    vertical-align: middle;
  }

  @media print { 
    .project-subheading, .image, .print-hidden{display: none;}

    .print-column{
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
    }
    *{
      font-size: small;
    }

    .print-column-break{
      break-before: always;
      -webkit-break-before: always;
      -webkit-column-break-before: always;
    }

    .resume-name{
      margin-top: -15px;
    }
  }

  @media not print{
    .print-shown{display: none;}
  }