<h2><a href="#" class="icon solid fa-hands-helping"><span class="label">Volunteering Experience</span></a>Volunteering Experience</h2>
<div class="row">
    {% for experience in volunteering_experience %}
    <article class="col-6 col-12-xsmall work-item">
        <h3>{{ experience[0]["company"] }}</h3>
        <em>{{ experience[0]["year_started"] }} {% if experience[0]["current"] %}- Present{% endif %}{% if experience[0]["year_ended"] %}- {{ experience[0]["year_ended"] }}{%endif%}</em>
        {{ experience[1] | safe }}
    </article>
    {% endfor %}
</div>